<!DOCTYPE html>
<html lang = "ro">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/">
</head>

<body>
    <h1>Olx Crawler</h1>
    <div class="poza"></div>
    <button class="incepe">Aplica filtre</button>
    <button class="crawl">Crawl</button>
    <div class="content"></div>
</body>

<script src="code.js"></script>


</html>